*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

:root {
  --color-bg: #fbfbf8;
  --color-bg-dark: #c2b3ec;
  --color-headers: #000000;
  --color-text-primary: #999999;
  --color-text-primary-dark: #555555;
  --color-text-secondary: #666666;
  --color-accent: linear-gradient(
    90deg,
    rgba(79, 70, 229, 1) 0%,
    rgba(147, 51, 234, 1) 100%
  );

  --font-primary: "IBM Plex Sans", sans-serif;
  --font-secondary: Manrope, sans-serif;
  --fw-semibold: 600;
  --fw-bold: 700;
}

body {
  font-family: var(--font-primary);
  background: var(--color-bg);
  color: var(--color-headers);
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  color: var(--color-headers);
  font-size: 32px;
  text-align: center;
}

p {
  font-family: var(--font-secondary);
  font-weight: var(--fw-semibold);
  color: var(--color-text-secondary);
  font-size: 20px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(194, 179, 236, 0.75);
  padding: 20px 20px;
  border-radius: 20px;
  margin: 10px 20px;
}

.logo {
  font-family: var(--font-primary);
  background: var(--color-accent);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  font-size: 20;
}

.menu-toggle {
  background: var(--color-accent);
  color: var(--color-bg);
  padding: 5px;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.menu-toggle:hover {
  filter: brightness(1.1);
}

.nav,
.login-btn {
  display: none;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  padding: 50px 25px;
}

.cta-btn {
  font-family: var(--font-secondary);
  font-weight: var(--fw-semibold);
  font-size: 24px;
  color: var(--color-bg);
  padding: 15px 25px;
  border-radius: 35px;
  cursor: pointer;
  border: none;
}

.cta-btn:hover {
  filter: brightness(1.1);
}

.dark-btn {
  background: var(--color-accent);
}

.who-is-it-for {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 50px 25px;
  padding: 50px 20px;
  border-radius: 25px;
  background-color: var(--color-bg-dark);
}

.dark-section {
  color: var(--color-text-primary-dark);
}

.checklist-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
  font-family: var(--font-secondary);
}

.checklist-text {
  font-size: 16px;
  text-align: left;
}

.how-it-works {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  padding: 50px 25px;
}

.how-it-works-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.how-it-works-img {
  width: 360px;
  height: 200px;
  border-radius: 30px;
}

.how-it-works-title {
  font-size: 24px;
  text-align: left;
}

.accent-highlight {
  background: var(--color-accent);
  -webkit-background-clip: text;
  color: transparent;
}

.how-it-works-text {
  font-size: 16px;
  color: var(--color-text-primary);
  text-align: left;
}

.insights {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 25px;
}

.insight-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.insight-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #ffffff;
  width: 286px;
  height: 286px;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.insight-card-title {
  font-family: var(--font-secondary);
  font-size: 24px;
  text-align: center;
}

.insight-card-img {
  width: 136px;
  height: 136px;
}

.cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  padding: 50px 25px;
  background: var(--color-accent);
}

.cta-title {
  color: var(--color-bg);
}

.light-btn {
  background-color: var(--color-bg);
}

.light-btn span {
  background: var(--color-accent);
  -webkit-background-clip: text;
  color: transparent;
}

.site-footer {
  background-color: #000;
  color: var(--color-bg);
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.site-footer a,
.site-footer p,
.site-footer h3 {
  font-size: 12px;
  text-decoration: none;
  font-family: var(--font-secondary);
  text-align: left;
}

.site-footer a,
.site-footer p {
  color: #b6b6b6;
}

.footer-title {
  color: var(--color-bg);
  font-size: 16px;
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer-links-container {
  display: flex;
  gap: 30px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  color: var(--color-bg);
}
