/* 
1. I created layout identical to figma design for mobile device (412px-wide)
2. Used LLM to recalculate sizings (from px to vw and rem), to make it adaptable for <576px-wide devices 
3. Used media queries to change layout and sizing for screens >576px-wide
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 2vw;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

:root {
  --color-bg: #fbfbf8;
  --color-bg-dark: #c2b3ec;
  --color-headers: #000000;
  --color-text-primary: #999999;
  --color-text-primary-dark: #555555;
  --color-text-secondary: #666666;
  --color-accent: linear-gradient(
    90deg,
    rgba(79, 70, 229, 1) 0%,
    rgba(147, 51, 234, 1) 100%
  );

  --font-primary: "IBM Plex Sans", sans-serif;
  --font-secondary: Manrope, sans-serif;
  --fw-semibold: 600;
  --fw-bold: 700;
}

body {
  font-family: var(--font-primary);
  background: var(--color-bg);
  color: var(--color-headers);
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  color: var(--color-headers);
  font-size: 3rem;
  text-align: center;
}

p {
  font-family: var(--font-secondary);
  font-weight: var(--fw-semibold);
  color: var(--color-text-secondary);
  font-size: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(194, 179, 236, 1);
  padding: 5vw 5vw;
  border-radius: 5vw;
  margin: 2vw 5vw;
}

.logo {
  font-family: var(--font-primary);
  background: var(--color-accent);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  font-size: 2rem;
}

.menu-toggle {
  background: var(--color-accent);
  color: var(--color-bg);
  padding: 1vw;
  border-radius: 2vw;
  width: 9vw;
  height: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.menu-icon {
  width: 5vw;
  height: 5vw;
}

.menu-toggle:hover {
  filter: brightness(1);
}

.nav,
.login-btn {
  display: none;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 9vw;
  padding: 12vw 6vw;
}

.cta-btn {
  font-family: var(--font-secondary);
  font-weight: var(--fw-semibold);
  font-size: 2rem;
  color: var(--color-bg);
  padding: 4vw 6vw;
  border-radius: 9vw;
  cursor: pointer;
  border: none;
}

.cta-btn:hover {
  filter: brightness(1);
}

.dark-btn {
  background: var(--color-accent);
}

.who-is-it-for {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5vw;
  margin: 12vw 6vw;
  padding: 12vw 5vw;
  border-radius: 6vw;
  background-color: var(--color-bg-dark);
}

.dark-section {
  color: var(--color-text-primary-dark);
}

.checklist-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 7vw;
  gap: 2vw;
  font-family: var(--font-secondary);
}

.checklist-icon {
  width: 4vw;
  height: 4vw;
}

.checklist-text {
  font-size: 2rem;
  text-align: left;
}

.how-it-works {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 17vw;
  padding: 12vw 6vw;
}

.how-it-works-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4vw;
}

.how-it-works-img {
  width: 87vw;
  height: 49vw;
  border-radius: 7vw;
}

.how-it-works-title {
  font-size: 2rem;
  text-align: left;
}

.accent-highlight {
  background: var(--color-accent);
  -webkit-background-clip: text;
  color: transparent;
}

.how-it-works-text {
  font-size: 2rem;
  color: var(--color-text-primary);
  text-align: left;
}

.insights {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 7vw;
  padding: 12vw 6vw;
}

.insight-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  padding: 10vw;
}

.insight-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  background-color: #ffffff;
  width: 69vw;
  height: 69vw;
  padding: 7vw;
  border-radius: 12vw;
  box-shadow: 0 4vw 4vw rgba(0, 0, 0, 0.1);
}

.insight-card-title {
  font-family: var(--font-secondary);
  font-size: 2rem;
  text-align: center;
}

.insight-card-img {
  width: 33vw;
  height: 33vw;
}

.cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 9vw;
  padding: 12vw 6vw;
  background: var(--color-accent);
}

.cta-title {
  color: var(--color-bg);
}

.light-btn {
  background-color: var(--color-bg);
}

.light-btn span {
  background: var(--color-accent);
  -webkit-background-clip: text;
  color: transparent;
}

.site-footer {
  background-color: #000;
  color: var(--color-bg);
  padding: 12vw 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
}

.site-footer a,
.site-footer p,
.site-footer h3 {
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--font-secondary);
  text-align: left;
}

.site-footer a,
.site-footer p {
  color: #b6b6b6;
}

.footer-title {
  color: var(--color-bg);
  font-size: 2rem;
}

.footer-logo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2vw;
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer-links-container {
  display: flex;
  gap: 7vw;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  color: var(--color-bg);
}
